# 📖 Notes :

## 📋 Exemple à suivre :

## 🌟 Le nom du contributeur : Mariem Tlatli

## 📁 Lieux de l'erreur :

interface Member - Dashboard - Navbar

## 📊 type de l'erreur :

Front-end - Débordememnt du nom de l'utilisateur  
Back-end - requete non fonctionnelle

## Image illustratif :

Recommander d'utiliser :
https://postimages.org/
juste copie coller lil image
[![image.png](https://i.postimg.cc/s2L1HtWh/image.png)](https://postimg.cc/mcQbtp8L)
wil site ya3tik code 7otou : Markdown il lien 4 heka ista3imlou
[![image.png](https://i.postimg.cc/fynyDmBW/image.png)](https://postimg.cc/hzsc0JkN)
